@model IEnumerable<PrimeStone.RAT.Dtos.CursoDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CursoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CursoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CursoId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CursoId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CursoId })
                </td>
            </tr>
        }
    </tbody>
</table>
